doctype html
head
  link(rel='stylesheet' href='style.css')
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  title Calendar!
body.body-container
    .month-header
        .month-header-left
            .menu-icon
            .material-icons(onclick='showMenu()')  menu 
            .month-name
            .year
        .month-header-right
            .icon-right
                .material-icons  edit 
            .icon-right.today-icon(onclick='goToday()')
                .material-icons  calendar_today 
                .current-date
    .table-responsive-sm
        table.table
            thead
                tr
                    th.sunday  S 
                    th  M 
                    th  T 
                    th  W 
                    th  T 
                    th  F 
                    th  S 
            tbody#day
    .change-month-btn-left
        button.btn.btn-light(type='button' onclick="changeMonth('back')")
            svg.bi.bi-chevron-left(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z')
    .change-month-btn-right
        button.btn.btn-light(type='button' onclick="changeMonth('next')")
            svg.bi.bi-chevron-right(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z')
    .add-event-btn
        .material-icons  add 
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
    script. 
        var _currentDate = new Date();

        var _month = _currentDate.getMonth();
        var _day = _currentDate.getDate();
        var _year = _currentDate.getFullYear();

        function getDaysOfMonth(month, year) {
            var days = new Array(42);
            var date = new Date(year, month);
            var currentMonth = month;
            var currentDay = date.getDay()                  // sun - sat
            var preMonth = currentMonth - 1 
            var preMonthDate = new Date(year, preMonth)
            var newMonthDate = 1

            while (preMonth !== month) {
                var preDate = preMonthDate.getDate()
                preDate++
                var preMonthDate = new Date(year, preMonth, preDate)
                preMonth = preMonthDate.getMonth()
            }

            for (var i = 0; i < 42; i++ ) {
                if (i < currentDay) {
                    days[i] = preDate - currentDay + i
                }else if (currentMonth === month) {
                    var currentDate = date.getDate()
                    days[i] = currentDate++;
                    date = new Date(year, month, currentDate)
                    currentMonth = date.getMonth()
                } else {
                    days[i] = newMonthDate++
                }
            }

            var htmlCode = '<tr>'
            var start = false
            var monthNow = _month - 1
            var selectId = ''
            days.forEach((date, index) => {
                if (index % 7 === 0 && index !== 0) {
                    htmlCode = htmlCode + '</tr><tr>'
                }
                if (date === 1 ) {
                    if (start) {
                        start = false
                        monthNow = _month + 1
                    } else {
                        start = true
                        monthNow = _month
                    }
                }

                var dayOfWeek = new Date(_year, monthNow, date).getDay()

                if (start) {
                    if (today() === date) {
                        htmlCode = htmlCode + '<td class="select" id="'+ index +'" onclick="showSelector('+ index + ')"><div class="today">' + date + '</div></td>'
                    } else if (dayOfWeek === 0) {
                        htmlCode = htmlCode + '<td class="sunday" id="'+ index +'" onclick="showSelector('+ index + ')">'+ date + '</td>'
                    } else {
                        htmlCode = htmlCode + '<td id="'+ index +'" onclick="showSelector('+ index + ')">' + date + '</td>'
                    }
                } else {
                    if (dayOfWeek === 0) {
                        htmlCode = htmlCode + '<td class="sunday-not-current-month" id="'+ index +'" onclick="showSelector('+ index + ')">' + date + '</td>'
                    } else {
                        htmlCode = htmlCode + '<td class="not-current-month" id="'+ index +'" onclick="showSelector('+ index + ')">' + date + '</td>'
                    }
                }
            });

            return htmlCode = htmlCode + '</tr>'
        }

        function showSelector(id) {
            for (let i=0; i < 42; i++) {
                $('#'+ i).removeClass('select')
            }
            $('#'+ id).addClass('select')
        }

        function getMonth(currentDate) {
            var month = currentDate.toLocaleString('default', { month: 'short' })
            var currentYear = new Date().getFullYear()
            monthHeader = month.toString().toUpperCase()
            
            return monthHeader
        }


        function changeMonth(direction) {
            if (direction === 'next') {
                _month = _month + 1 
            } else {
                _month = _month - 1 
            }

            if (_month === -1 ) {
                _month = 11
                _year = _year - 1
            } else if (_month > 11) {
                _month = 0
                _year = _year + 1
            }

            _currentDate = new Date(_year, _month)
            $('.month-name').html(getMonth(_currentDate))
            $('.year').html(_year.toString())
            $('#day').html(getDaysOfMonth(_month, _year))
        }

        function today() {
            var today = new Date()
            var year = today.getFullYear()
            var month = today.getMonth()
            var date = today.getDate()

            if (_year === year && _month === month) {
                return date
            }

        }

        function goToday() {
            var today = new Date()
            var year = today.getFullYear()
            var month = today.getMonth()
            var date = today.getDate()
            _year = year
            _month = month

            $('.month-name').html(getMonth(today))
            $('.year').html(_year.toString())
            $('#day').html(getDaysOfMonth(month, year))
        }



        $('.month-name').html(getMonth(_currentDate))
        $('.year').html(_year.toString())
        $('#day').html(getDaysOfMonth(_month, _year))
        $('.current-date').html(today())
