.body-container {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
}

.month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10%;
    text-align: left;
    margin-bottom: 20px;
}

.month-header-left {
    display: flex; 
    height: 100%;
    align-items: flex-end;
}

.month-header-left button {
    padding: 0px !important;
    background-color: #fff;
    border-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.menu-icon {
    max-height: 35px;
    font-size: 28px;    
    align-self: flex-end;
}

.month-name {
    margin-left: 20px;
    font-size: 28px;    
    font-weight: 300;
    align-self: flex-end;
    max-height: 35px;
}

.year {
    margin-left: 15px;
    font-size: 14px;
    color: grey;
    align-self: flex-end;
    max-height: 35px;
    font-weight: 400;
}

.table-responsive-sm {
    height: 90%;
    width: 100%;
    padding: 10px 20px 5px 20px;
    border-radius: 25px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 700;
}

.table-responsive-sm .table{
    height: 100%;
}

.table-responsive-sm .table thead th{
    border-bottom: none;
    border-top: none;
    padding: 0px;
    color: #a4a4a4;
    width: calc(400px / 7);
    border: 1px solid #fff;
}

.table-responsive-sm .table tbody tr td{
    padding: 5px 0px 0px 0px;
    border: 1px solid #fff;
}

.sunday {
    color: #CD5C5C !important;
}

.sunday-not-current-month {
    color: #d8a7a9;
}

.not-current-month{
    color: 	#d2d2d2
}

.today {
    /* background-color: #1a73e8; */
    background-color: #20a483;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}

.month-header-right {
    width: fit-content;
    display: flex;
    min-height: 35px;
}

.icon-right {
    margin-left: 15px;
    min-height: 35px;
    display: flex;
    align-items: flex-end;
}


.today-icon {
    position: relative;
}

.current-date {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    bottom: 4%;
    left: 20%;
}

.change-month-btn-left {
    position: fixed;
    top: 50%;
    left: 0;
}

.change-month-btn-right {
    position: fixed;
    top: 50%;
    right: 0;
}

.change-month-btn-right button{
    color: #d2d2d2;
}

.change-month-btn-left button{
    color: #d2d2d2;
}


