.body-container {
    width: 100%;
    height: 100vh;
}

.month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 10%;
    text-align: left;
}

.month-header-left {
    display: flex; 
    height: 100%;
    align-items: flex-end;
}

.month-header-left button {
    padding: 0px !important;
    background-color: #fff;
    border-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.menu-icon {
    max-height: 35px;
    font-size: 28px;    
    align-self: flex-end;
}

.month-name {
    margin-left: 20px;
    font-size: 28px;    
    font-weight: 300;
    align-self: flex-end;
    max-height: 35px;
}

.year {
    margin-left: 15px;
    font-size: 14px;
    color: grey;
    align-self: flex-end;
    max-height: 35px;
    font-weight: 400;
}

.table-responsive-sm {
    height: 90%;
}

.table-responsive-sm .table{
    height: 100%;
}

.table-responsive-sm .table thead th{
    font-weight: normal;
    text-align: center;
    border-bottom: none;
    border-top: none;
}

.table-responsive-sm .table tbody tr{
    text-align: center;
}

.table-responsive-sm .table tbody tr td{
    padding: 0px;
}

.not-current-month{
    color: gray;
}

.today {
    background-color: #1a73e8;
    color: white;
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.month-header-right {
    width: fit-content;
    display: flex;
    min-height: 35px;
}

.icon-right {
    margin-left: 15px;
    min-height: 35px;
    display: flex;
    align-items: flex-end;
}


.today-icon {
    position: relative;
}

.current-date {
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    bottom: 4%;
    left: 20%;
}


